// Šriftas paimtas iš užduoties
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
//Turinio max. plotis paimtas iš užduoties susumuojant elementų pločius
$maxWidth: 1100px;
// Tamsiai pilka bus naudojama keliose vietose
$colorDarkGrey: #1C1C1C;
$colorRed: #E27866;
$colorGreen: #41D395;
//logotipo plotis. Kaikur teks dauginti iš daugiklio.
$logoWidth: 120px;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

// Ant ko rodyklė pasikeičia į rankutę
button,
.cursor-pointer {
  cursor: pointer;
}

h1 {
  font-size: 36px;
}

nav {
  background-color: $colorDarkGrey;
  height: 72px;
  // Kad suspaudus liktų tarpelis iš kairės ir dešinės
  padding: 0 20px;

  .nav-content {
    display: flex;
    // Logotimas į kairę, mygtukų blokas - į dešinę
    justify-content: space-between;
    // Turlnys vertikaliai per vidurį
    align-items: center;
    // Navigacijos bloką išcentruoja horizontaliai
    margin: auto;
    // Aušktis kaip ir <nav>
    height: 100%;
    // Max plotis per kitnamąjį
    max-width: $maxWidth;

    img {
      width: $logoWidth;
    }
  }

  .nav-buttons {
    //Kai turi kur plėstik, kad liktų kairėje bet prasiplėtę
    min-width: 40%;
    //aukštis kaip ir konteinerio. Realiai bus reikalinga raudonam apatiniam borderiui
    height: 100%;
    display: flex;
    //Mygtukai atskirti tarpais konteineryje
    justify-content: space-between;
    //Min tarpai suspaudus
    gap: 10px;

    button {
      color: white;
      //Papilkiname tekstą jei neužeita
      opacity: 0.69;
      background-color: $colorDarkGrey;
      // Nematomi borderiai viršuje ir apačioje. Išlaiko teksto vertikalų centraviną ir vienodą aukštį kai užeinama su pele
      // border-width: 3px 0;
      border-color: transparent;
      transition: .3s;

      &:hover {
        // teksto spalva ryškiai balta
        opacity: 1;
        //apatinis borderis paraudonuoja.
        border-bottom: 3px solid $colorRed;
      }
    }
  }
}

header {
  min-height: 640px;
  background: linear-gradient(rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.63)), center url("../images/City.jpg");
  background-size: cover;
  color: white;
  display: flex;
  // Kad suspaudus liktų tarpelis iš kairės ir dešinės
  padding: 0 20px;

  .header-container {
    display: flex;
    width: $maxWidth;
    min-height: 425px;
    justify-content: space-between;
    margin: auto;
    gap: 40px 20px;
  }

  .header-left {
    display: flex;
    flex-direction: column;
    min-height: 425px;
    justify-content: space-between;

    img {
      width: calc($logoWidth * 2);
    }

    h1 {
      max-width: 430px;
    }

    hr {
      width: 72px;
    }

    p {
      max-width: 650px;
      line-height: 23px;
    }

    button {
      width: 135px;
      height: 42px;
      background-color: transparent;
      color: white;
      border-color: white;
    }
  }

  form {
    width: 360px;
    min-width: 300px;
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    div {
      background-color: #F5F5F5;
      color: #333;
      font-weight: bold;
      font-size: 20px;
      height: 57px;
      border-radius: 5px 5px 0px 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      span {
        color: $colorRed;
      }
    }

    fieldset {
      border: none;
    }

    legend {
      color: #1C1C1C;
      font-weight: bold;
      font-size: 16px;
      width: 260px;
      padding-top: 30px;
      margin: auto;
    }

    .contactInput {
      font-size: 12px;
      line-height: 24px;
      display: block;
      border-width: 0 0 1px 0;
      border-color: #D8D8D8;
      margin: 23px auto 0 auto;
      width: 260px;

      &::placeholder {
        color: #D8D8D8;
        padding-left: 10px;
      }
    }

    input[type="radio"] {
      accent-color: #2fa775;

      &:checked+label {
        opacity: 1;
      }
    }

    label {
      color: black;
      opacity: 0.5;
      font-weight: bold;
      font-size: 9px;
    }

    .radio {
      max-width: 260px;
      justify-content: flex-start;
      margin: auto;
      margin-bottom: 20px;
      gap: 4px;
      height: 50px;
      background-color: transparent;

      label:first-of-type {
        margin-right: 15px;
      }
    }

    button {
      width: 100%;
      height: 57px;
      color: white;
      background-color: $colorGreen;
      border: none;
      font-size: 18px;
      border-radius: 0px 0px 5px 5px;
    }
  }
}

section.socialMedia {
  padding: 0 20px;

  .socialMedia-container {
    display: flex;
    justify-content: space-between;
    // Turlnys vertikaliai per vidurį
    align-items: center;
    // Navigacijos bloką išcentruoja horizontaliai
    margin: auto;
    // Max plotis per kitnamąjį
    max-width: $maxWidth;
    min-height: 105px;
    gap: 20px 40px;


    .socialDesc {
      //Pagal specifikaciją
      max-width: 400px;

      h3 {
        font-size: 20px;
      }

      p {
        font-size: 14px;
      }
    }

    .socialIcons {
      //Soc. ikonų konteineris plečiasi ir užima likusį plotį
      flex-grow: 2;
      //kai yra pakankamai pločio, kad FB ikona neatsiremtų į tekstą kairėje
      max-width: 550px;
      display: flex;
      justify-content: space-between;
      //suspaudus kad nesusilietų ikonos
      gap: 10px;

    }

    img {
      //Pagal specifikaciją
      height: 30px;
    }
  }
}

.featuresPanel1 {
  min-height: 640px;
  background: linear-gradient(270deg, rgba(102, 149, 226, 0.42) 0%, rgba(226, 120, 102, 0.42) 100%), bottom url("../images/desert.jpg");
  background-size: cover;
  color: white;
  display: flex;
  // Kad suspaudus liktų tarpelis iš kairės ir dešinės
  padding: 0 20px;

  .featuresPanel1-container {
    display: flex;
    width: $maxWidth;
    // min-height: 425px; //pabandyti istrinti veliau
    justify-content: space-between;
    margin: auto;

    .tab-buttons {
      display: flex;
      flex-direction: column;
      gap: 21px;

      input {
        display: none;
      }

      label {
        width: 100px;
        height: 100px;
        display: grid;
        background-color: #A37169;
        color: rgba(255, 255, 255, 0.5);
        box-shadow: 0px 3px 6px #00000029;

        p {
          margin: auto;
          transform: rotate(-45deg);
          font-size: 14px;
        }
      }

      input:checked+label {
        background-color: #E27866;
        color: white;
        font-weight: bold;
        transition: .4s ease;
      }

      // &>* {
      //   border: 2px solid red;
      // }
    }

    $imageBorder: 170px;

    .tab {
      display: grid;
      gap: 20px;
      grid-template-columns: auto $imageBorder $imageBorder;
      grid-template-rows: $imageBorder $imageBorder;
      grid-template-areas:
        "text image1 image2"
        "text image3 image3";

      article {
        padding: 0 50px;
        grid-area: text;
        align-self: center;

        h1 {
          padding: 0 0 30px;
        }

        p {
          font-size: 14px;
          line-height: 20px;
        }
      }

      .img {
        position: relative;

        &::before {
          position: absolute;
          content: "Explore";
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          text-align: center;
          text-shadow: 1px 1px 2px black;
          font-size: 20px;
          line-height: 170px;
          background-color: rgba(226, 120, 102, 0.7);
          opacity: 0;
          transition: opacity .4s;
        }

        &:hover::before {
          opacity: 1;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        &:nth-of-type(1) {
          grid-area: image1;
        }

        &:nth-of-type(2) {
          grid-area: image2;
        }

        &:nth-of-type(3) {
          grid-area: image3;
          width: 100%;
        }

      }
    }
  }
}

.featuresPanel2 {
  background-color: $colorDarkGrey;
  min-height: 596px;
  padding: 0 20px;
  display: flex;
  // > * {
  //   border: 1px solid red;
  // }

  .featuresPanel2-content {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: $maxWidth;
    gap: 20px;

    // > * {
    //   border: 1px solid red;
    // }
  }

  .logo {
    height: 170px;
    width: 50%;
    // flex-grow: 4;
  }

  .featuresPanel2-content-right {
    display: flex;
    flex-direction: column;
    max-width: 460px;

    // > * {
    //   border: 1px solid red;
    // }
  }

  h2 {
    font-size: 30px;
    line-height: 42px;
  }

  hr {
    border-color: $colorRed;
    width: 200px;
    margin: 27px 0;
  }

  p {
    font-size: 14px;
    line-height: 20px;
  }

  .listItem {
    display: flex;
    margin-top: 36px;
  }

  .icon {
    background-color: $colorRed;
    height: 50px;
    width: 50px;
    padding: 13px;
    border-radius: 50%;
    margin-right: 20px;
  }

  h5 {
    font-size: 14px;
    font-weight: bold;
  }
}

.about {
  min-height: 600px;
  padding: 0 20px;
  display: flex;

  .about-container {
    width: $maxWidth;
    display: flex;
    margin: auto;
    align-items: center;
    flex-direction: column;

    hr {
      border-color: $colorRed;
      width: 64px;
      margin: 27px 0;
    }

    p {
      font-size: 14px;
      line-height: 20px;
      color: #86878B;
    }

    .article-container {
      display: flex;
      column-gap: 100px;
      row-gap: 30px;
      justify-content: space-evenly;
      // flex-wrap: wrap;
      padding-top: 65px;

      // & > * {
      //   border: 1px solid red;
      // }

      article {
        text-align: center;
        flex: 1;

        h3 {
          font-size: 20px;
          font-weight: normal;
          color: #333333;
          padding: 35px 0 27px;
        }

        img {
          width: 50px;
          height: 50px;
          border: 1px solid $colorRed;
          border-radius: 50%;
          padding: 12px;
        }
      }

    }
  }

}

footer {
  background-color: $colorDarkGrey;

  .footer-social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // Navigacijos bloką išcentruoja horizontaliai
    margin: auto;
    // Max plotis per kitnamąjį
    max-width: $maxWidth;
    height: 124px;
    padding: 0 20px;

    .footer-social-icons {
      display: flex;
      justify-content: space-between;
      width: 50%;
    }

    img {
      //Pagal specifikaciją
      height: 20px;
    }

    p {
      font-size: 18px;
      color: rgba(255, 255, 255, 0.5);
    }
  }
}

@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    align-items: center;
    padding: 40px 0;

    .header-left {
      align-items: center;
      min-height: 400px;
      img {
        width: calc($logoWidth * 1.5);
      }
      h1 {
        font-size: 26px;
      }
    }
  }

  .socialMedia-container {
    flex-direction: column;
    padding: 30px 0;

    & > * {
      min-width: 100%;
    }
  }

  .featuresPanel1-container {
    flex-direction: column;
    padding: 30px 0;

    .tab-buttons {
      flex-direction: row !important;
    }

  }

  .about {
    .about-container {
      padding: 40px 0;
      h1 {
        font-size: 30px;
      }
      hr {
        margin: 10px 0;
      }

      .article-container {
        flex-direction: column;
        padding-top: 30px;

        article h3 {
          padding: 10px 0 10px;
        }
      }
    }
  }
}