@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

$colorBlue: #007bff;

* {
  font: 20px Lato;
  background-color: #f8f9fa;
  padding: 0px;
  margin: 0px;
  border: 0px;
  // box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  margin: auto;
  align-items: center;
  padding: 8px 30px;
  // border: 1px solid red;

  button {
    font-size: 16px;
    padding: 10px 14px;
    color: white;
    background-color: $colorBlue;
    border-radius: 4px;
  }
}